<form action="" method="get" id="hemicycle-form">
		<div>

  			<span class="field-tip"><a  id="preset-1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">supervisor_account</i></a><span class="tip-content">Moins de deux mandats</span></span>
  			<span class="field-tip"><a  id="preset-2" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">schedule</i></a><span class="tip-content">Agé de plus de 60 ans en IDF</span></span>
  			<span class="field-tip"><a id="preset-3" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">replay</i></a><span class="tip-content">Reset</span></span>
  			<span class="field-tip"><a id="hemicycle-submit" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">send</i></a><span class="tip-content">Go !</span></span>
        
		</div>
        <div>
        	<h4>Groupe politique</h4>
        	{{#each political_group}}
				<input type="checkbox" name ="groupe_sigle" id="pg-{{_id.sigle}}" value="{{_id.sigle}}"> 
				<label for="pg-{{_id.sigle}}">{{_id.groupe}}</label>
	        {{/each}}
        </div>
        <div>
        	<h4>Sexe</h4>
			<input type="checkbox" name="sexe" id="cbox-femme" value="F"> 
			<label for="cbox-femme">Femme</label>
			<input type="checkbox" name="sexe" id="cbox-homme" value="H"> 
			<label for="cbox-homme">Homme</label>
		</div>
       	<div>
			<h4>Régions</h4>
			{{#each region}}
				<input type="checkbox" name="region.num" id="cbox-{{_id.num}}" value="{{_id.num}}"> 
				<label for="cbox-{{_id.num}}">{{_id.nom}}</label>
	        {{/each}}
	    </div>
	    <div style="text-align: center">
		    <h4 for="nbMandat" class="col s12">Nombre de mandats cumulés</h4>
		    <span id="minNbMandat" style="display:none">{{ minNbMandat }}</span>
		    <span id="infNbMandat" class="col s3">{{ minNbMandat }}</span>
		      <div class="col s6"><div class="noUi-target noUi-ltr noUi-horizontal noUi-background" id="range_03"></div></div>
			<span id="maxNbMandat" style="display:none">{{ maxNbMandat }}</span>
			<span id="supNbMandat" class="col s3">{{ maxNbMandat }}</span>
	    </div>
	     <div style="text-align: center">
		    <h4 for="nbAge" class="col s12">Age</h4>
		    <span id="minAge" style="display:none">{{ minAge }}</span>
		    <span id="infAge" class="col s3">{{ minAge }}</span>
		      <div class="col s6"><div class="noUi-target noUi-ltr noUi-horizontal noUi-background" id="range_04"></div></div>
			<span id="maxAge" style="display:none">{{ maxAge }}</span>
			<span id="supAge" class="col s3">{{ maxAge }}</span>
	    </div>
		<div>
        </div>
  

</form>